<div id="main_page" ng-controller="mainCtrl">


    <table class="ui basic table">
        <tr>
            <td>
                <!--Период: &nbsp;-->
                <!--<select class="ui search dropdown" ng-model="period.value" ng-change="refresh();">-->
                    <!--<option ng-repeat="per in periods" value="{{per.value}}" ng-selected="period">-->
                        <!--{{per.value.substring(0, 4) + ' '}}{{'#month' + per.value.substring(4) | translate}}-->
                    <!--</option>-->
                <!--</select>-->

            </td>
            <td>
                <div class="ui green mini statistic">
                    <div class="label">
                        {{nachisl.name}}
                    </div>
                    <div class="value">
                        {{nachisl.sum*-1 | number:2 }} тг.
                    </div>
                </div>
            </td>
            <td>
                <div class="ui pink mini statistic">
                    <div class="label">
                        {{forfeit.name}}
                    </div>
                    <div class="value">
                        {{forfeit.sum*-1 | number:2 }} тг.
                    </div>
                </div>
            </td>
            <td>
                <div class="ui orange mini statistic">
                    <div class="label">
                        {{payment.name}}
                    </div>
                    <div class="value">
                        {{payment.sum | number:2 }} тг.
                    </div>
                </div>
            </td>
            <td>
                <div class="ui mini statistic" ng-class="{'green':(payment.sum + nachisl.sum + forfeit.sum)<0, 'red':(payment.sum + nachisl.sum + forfeit.sum)>0}">
                    <div class="label">
                        Всего должны
                    </div>
                    <div class="value">
                        {{(payment.sum + nachisl.sum + forfeit.sum)*-1 | number:2}} тг.
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="ui basic table">
        <tr>

            <td style="vertical-align: top; height: 20%;">
                <div class="ui green mini statistic">
                    <div class="label">
                        {{"Пройдено клиентов"}}
                    </div>
                    <div class="value">
                        {{totalClientsPassed}}
                    </div>
                </div>
            </td>
            <td style="vertical-align: top">
                <div class="ui pink mini statistic">
                    <div class="label">
                        {{"Всего клиентов"}}
                    </div>
                    <div class="value">
                        {{totalClients}}
                    </div>
                </div>
            </td>
            <td width="500" rowspan="3">
                <div id="container">
                    <!--<highchart config="highChartConfig"></highchart>-->
                </div>
            </td>
            <!--<td>-->
                <!--<div class="ui orange mini statistic">-->
                    <!--<div class="label">-->
                        <!--{{payment.name}}-->
                    <!--</div>-->
                    <!--<div class="value">-->
                        <!--{{payment.sum | number:2 }} тг.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<div class="ui mini statistic" ng-class="{'green':(payment.sum + nachisl.sum + forfeit.sum)<0, 'red':(payment.sum + nachisl.sum + forfeit.sum)>0}">-->
                    <!--<div class="label">-->
                        <!--Всего должны-->
                    <!--</div>-->
                    <!--<div class="value">-->
                        <!--{{(payment.sum + nachisl.sum + forfeit.sum)*-1 | number:2}} тг.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
        </tr>
        <tr>
            <td colspan="2" style="vertical-align: top">
                <table class="ui basic table">
                    <thead>
                    <tr>
                        <th>
                            Контролер
                        </th>
                        <th class="center aligned">
                            Пройдено
                        </th>
                        <th class="center aligned">
                            Осталось
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in controllers">
                        <td>
                            {{item.fullName}}
                        </td>
                        <td class="center aligned">
                            {{getContollersPassed(item._id)}}
                        </td>
                        <td class="center aligned">
                            {{getContollersRest(item._id)}}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Всего</th>
                            <th class="center aligned">
                                {{getContollersPassed()}}
                            </th>
                            <th class="center aligned">
                                {{getContollersRest()}}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </td>

        </tr>
        <tr>
            <td colspan="2" style="vertical-align: top">


                <table class="ui very compact small celled  table">
                    <thead>
                    <tr>
                        <th >Контролер</th>
                        <th >Объектов, пройдено / всего</th>
                        <th >Вода, м3</th>
                        <th >Канализация, м3</th>
                        <th >Вода, тенге</th>
                        <th >Канализация, тенге</th>
                        <th >Штраф, тенге</th>
                        <th >Всего, тенге</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="res in result">
                        <td >{{res.controllerId}}</td>
                        <td class="right aligned">{{res.passed | number:0}} / {{res.total | number:0}}</td>
                        <td class="right aligned">{{res.sumWaterCubic | number:2}}</td>
                        <td class="right aligned">{{res.sumCanalCubic | number:2}}</td>
                        <td class="right aligned">{{res.sumWaterMoney | number:2}}</td>
                        <td class="right aligned">{{res.sumCanalMoney | number:2}}</td>
                        <td class="right aligned">{{res.sumForfeitMoney | number:2}}</td>
                        <td class="right aligned">{{res.sumTotalMoney | number:2}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr >
                        <th >Общий итог</th>
                        <th class="right aligned">{{resultTotals.passed | number:0}} / {{resultTotals.total | number:0}}</th>
                        <th class="right aligned">{{resultTotals.sumWaterCubic | number:2}}</th>
                        <th class="right aligned">{{resultTotals.sumCanalCubic | number:2}}</th>
                        <th class="right aligned">{{resultTotals.sumWaterMoney | number:2}}</th>
                        <th class="right aligned">{{resultTotals.sumCanalMoney | number:2}}</th>
                        <th class="right aligned">{{resultTotals.sumForfeitMoney | number:2}}</th>
                        <th class="right aligned">{{resultTotals.sumTotalMoney | number:2}}</th>
                    </tr>
                    </tfoot>
                </table>

            </td>
        </tr>
    </table>

    <style>
        .ui.basic.table tfoot th, .ui.basic.table thead th{
            background: #f9fafb;
        }
    </style>


</div>
