<form id="form" class="ui form">


    <div class="field" >

        <h4 class="ui top attached header">{{'#Нормы водопотребления' | translate}}</h4>

        <div class="ui attached segment">

        <div class="fields">
            <div class="three wide field">
                <label>#Нормы водопотребления</label>
            </div>
            <div class="one wide field">
                <label>#Кол-во</label>
            </div>
            <div class="three wide field">
                <label>#Измеритель</label>
            </div>
            <div class="two wide field">
                <label>#% Воды</label>
            </div>
            <div class="two wide field">
                <label>#% Канализации</label>
            </div>
            <div class="two wide field">
                <label>#Итого воды</label>
            </div>
            <div class="two wide field">
                <label>#Итого канализации</label>
            </div>
        </div>
        <div class="fields" ng-repeat="clientload in clientloads | clientLoadsFilterByGroup:1:negotiableLoadList">
            <div class="three wide field">
                <select ng-model="clientload.negotiableLoad"
                        ng-options="item._id as item.name for item in negotiableLoadList | exclusiveNegotiableLoadsFilterByGroup:clientloads:1:clientload.negotiableLoad">
                </select>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index)+'.negotiableLoad', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index)+'.negotiableLoad', parent)}}
                </div>
            </div>
            <div class="one wide field">
                <input ng-model="clientload.quantity" type="text"/>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index)+'.quantity', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index)+'.quantity', parent)}}
                </div>
            </div>
            <div class="three wide field">
                <label style="font-size: 1.1em; line-height: 33px;">
                    {{getLoadUnitName(clientload.negotiableLoad)}}
                    ({{getLitersPerDay(clientload.negotiableLoad)}} &nbsp; л)
                </label>
            </div>
            <div class="two wide field">
                <input ng-model="clientload.waterPercent" type="text"/>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index)+'.waterPercent', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index)+'.waterPercent', parent)}}
                </div>
            </div>
            <div class="two wide field">
                <input ng-model="clientload.canalPercent" type="text"/>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index)+'.canalPercent', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index)+'.canalPercent', parent)}}
                </div>
            </div>
            <div class="two wide field">
                <label style="font-size: 1.1em; line-height: 33px;">
                    {{getLitersPerDay(clientload.negotiableLoad)*clientload.quantity*clientload.waterPercent/100}} &nbsp; л
                </label>
            </div>
            <div class="two wide field">
                <label style="font-size: 1.1em; line-height: 33px;">
                    {{getLitersPerDay(clientload.negotiableLoad)*clientload.quantity*clientload.canalPercent/100}} &nbsp; л
                </label>
            </div>
        </div>

        </div>

        <h4 class="ui top attached header">
            <span style="margin-right: 20px;">{{'#Дополнительно' | translate}}</span>
            <checkbox type="toggle" ng-model="extraLoadsVar" ng-click="extraLoadsSwitcher()"></checkbox></h4>

        <div class="ui attached segment">

        <div class="fields" ng-show="extraLoadsVar">
            <div class="three wide field">
                <label>#Нормы водопотребления</label>
            </div>
            <div class="one wide field">
                <label>#Кол-во</label>
            </div>
            <div class="three wide field">
                <label>#Измеритель</label>
            </div>
            <div class="two wide field">
                <label>#% Воды</label>
            </div>
            <div class="two wide field">
                <label>#% Канализации</label>
            </div>
            <div class="two wide field">
                <label>#Итого воды</label>
            </div>
            <div class="two wide field">
                <label>#Итого канализации</label>
            </div>
            <div class="one wide field">
                <label>#Удалить</label>
            </div>
        </div>
        <div class="fields" ng-repeat="clientload in clientloads | clientLoadsFilterByGroup:2:negotiableLoadList">
            <div class="three wide field">
                <select ng-model="clientload.negotiableLoad"
                        ng-options="item._id as item.name for item in negotiableLoadList | exclusiveNegotiableLoadsFilterByGroup:clientloads:1:clientload.negotiableLoad:false">
                </select>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index+1)+'.negotiableLoad', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index+1)+'.negotiableLoad', parent)}}
                </div>
            </div>
            <div class="one wide field">
                <input ng-model="clientload.quantity" type="text"/>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index+1)+'.quantity', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index+1)+'.quantity', parent)}}
                </div>
            </div>
            <div class="three wide field">
                <label style="font-size: 1.1em; line-height: 33px; overflow: hidden; white-space: nowrap;">
                    {{getLoadUnitName(clientload.negotiableLoad)}}
                    ({{getLitersPerDay(clientload.negotiableLoad)}} &nbsp; л)
                </label>
            </div>
            <div class="two wide field">
                <input ng-model="clientload.waterPercent" type="text"/>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index+1)+'.waterPercent', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index+1)+'.waterPercent', parent)}}
                </div>
            </div>
            <div class="two wide field">
                <input ng-model="clientload.canalPercent" type="text"/>
                <div ng-show="parent.isErrorForField('clientLoadsArray.'+($index+1)+'.canalPercent', parent)" class="ui red pointing prompt label transition" style="width: 100%;white-space: normal;">
                    {{parent.getErrorForField('clientLoadsArray.'+($index+1)+'.canalPercent', parent)}}
                </div>
            </div>
            <div class="two wide field">
                <label style="font-size: 1.1em; line-height: 33px;">
                    {{getLitersPerDay(clientload.negotiableLoad)*clientload.quantity*clientload.waterPercent/100}} &nbsp; л
                </label>
            </div>
            <div class="two wide field">
                <label style="font-size: 1.1em; line-height: 33px;">
                    {{getLitersPerDay(clientload.negotiableLoad)*clientload.quantity*clientload.canalPercent/100}} &nbsp; л
                </label>
            </div>
            <div class="one wide field">
                <button class="negative circular ui icon button" ng-click="removeExtraLoad(clientload)">
                    <i class="icon remove"></i>
                </button>
            </div>
        </div>


        <div ng-show="extraLoadsVar">

            <button ng-class="{disabled: addAvailable==false}" class="positive circular ui icon button" ng-click="addExtraLoads()">
                <i class="icon plus"></i>
            </button>
        </div>

        </div>

    </div>

</form>