<div class="ui fullscreen modal" ng-controller="addFizClientController">
    <i class="close icon" ng-click="close()"></i>

    <div class="header">
        {{'#Добавить абонента' | translate }}. {{selectedItem.name}}
    </div>
    <div class="content">

        <form class="ui form">
            <div class="fields">
                <div class="two wide field">
                    <label>{{'#Лицевой счет' | translate}}</label>
                    <input type="text" name="accountNumber" placeholder="{{'#Лицевой счет' | translate}}"
                           ng-model="modalItem.accountNumber">
                </div>
                <div class="two wide field">
                    <label>{{'#Наименование компании' | translate}}</label>
                    <input type="text" name="name" placeholder="{{'#Наименование компании' | translate}}"
                           ng-model="modalItem.name">
                </div>
                <div class=" two wide field">
                    <label>{{'#БИН' | translate}}</label>
                    <input type="text" name="bin" placeholder="{{'#БИН' | translate}}"
                           ng-model="modalItem.bin">
                </div>
                <div class="two wide field">
                    <label>{{'#Адрес' | translate}}</label>
                    <span ng-bind="modalItem.address"></span>

                </div>


                <div class="two wide field">
                    <label>{{'#Мкр/Улица' | translate}}</label>
                    <select class="ui search dropdown" ng-model="address.street"
                            ng-options="street.value for street in $parent.rootAddresses track by street._id"
                            ng-change="StreetChange()"></select>
                </div>

                <div class="two wide field">
                    <label>{{'#Дом' | translate}}</label>
                    <select class="ui search dropdown" ng-model="address.house"
                            ng-options="house.value for house in houseList track by house._id"
                            ng-change="HouseChange()"></select>
                </div>

                <div class="two wide field">
                    <label>{{'#Квартира' | translate}}</label>
                    <select class="ui search dropdown" ng-model="address.flat"
                            ng-options="flat.value for flat in flatList track by flat._id"></select>
                </div>


                <div class="two wide field">
                    <label>{{'#Кол-во проживающих' | translate}}</label>
                    <input type="text" name="residentsCount" placeholder="{{'#Кол-во проживающих' | translate}}"
                           ng-model="modalItem.residentsCount">
                </div>
                <div class="two wide field">
                    <label>{{'#Телефон' | translate}}</label>
                    <input type="text" name="phone" placeholder="{{'#Телефон' | translate}}"
                           ng-model="modalItem.phone">
                </div>
                <div class="two wide field">
                    <label>{{'#email' | translate}}</label>
                    <input type="text" name="email" placeholder="{{'#email' | translate}}"
                           ng-model="modalItem.email">
                </div>
                <div class="two wide field">
                    <label>{{'#Площадь' | translate}}</label>
                    <input type="text" name="area" placeholder="{{'#Площадь' | translate}}"
                           ng-model="modalItem.area">
                </div>

                <div class="two wide field">
                    <label>{{'#КСК' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.kskId"
                            ng-options="ksk.name for ksk in $parent.ksks track by ksk._id"></select>
                </div>


                <div class="two wide field">
                    <label>{{'#Контроллер' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.controllerId"
                            ng-options="controller.fullName for controller in $parent.controllers track by controller._id">
                    </select>
                </div>

                <div class="two wide field">
                    <label>{{'#Тип' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.clientType"
                            ng-options="clientType.name for clientType in $parent.clientTypes track by clientType._id">
                    </select>
                </div>

            </div>
        </form>


    <div class="content" style="height: 500px; overflow: auto;">

        <form class="ui form">
            <div class="ui dividing header">
                {{'#Технические данные' | translate }}. {{selectedItem.name}}. Категория: {{modalItem.clientType.name}}
            </div>
            <div class="fields">

                <div class="three wide field">
                    <label>{{'#Выберите Тариф на воду' | translate}}</label>

                    <div class="ui input">
                        <select class="ui search dropdown" ng-model="modalItem.clientType.tariffId"
                                ng-options="tariff.name for tariff in $parent.tariffs track by tariff._id"></select>
                    </div>
                </div>
                <div class=" two wide field">
                    <label>{{'#Тариф на воду' | translate}}</label>

                    <div class="ui large label">{{modalItem.clientType.tariffId.water}}</div>
                </div>
                <div class=" two wide field">
                    <label>{{'#Тариф на канализацию' | translate}}</label>

                    <div class="ui large label">{{modalItem.clientType.tariffId.canal}}</div>
                </div>
                <div class=" two wide field">
                    <label ng-bind="'#Норма' | translate"></label>
                    <div class="ui input">
                        <input type="text" name="norm" ng-model="modalItem.norm">
                    </div>
                </div>
                <div class=" two wide field">
                    <label ng-bind="'#Процент по воде'  | translate"></label>
                    <div class="ui input">
                        <input type="text" name="norm" ng-model="modalItem.waterPercent">
                    </div>

                </div>
                <div class=" two wide field">
                    <label ng-bind="'#Процент по канализации' | translate"></label>
                    <div class="ui input">
                        <input type="text" name="norm" ng-model="modalItem.canalPercent">
                    </div>

                </div>
            </div>
        </form>


        <table>

            <tbody>

            <tr ng-repeat="pipeline in modalItem.pipelines">

                <td colspan="6">

                    <table class="ui table" style="margin-bottom: 0 !important;">
                        <tr>
                            <td>
                                <b>Ввод:</b>
                                <div class="ui input">
                                    <input type="text" ng-model="pipeline.description"/>
                                </div>
                            </td>
                            <td>
                                <label>{{'% вод.' | translate}}</label>

                                <div class="ui input">
                                    <input type="text" name="waterPercent" ng-model="pipeline.waterPercent">
                                </div>
                            </td>
                            <td>
                                <label>{{'% кан.' | translate}}</label>

                                <div class="ui input">
                                    <input type="text" name="canalPercent" ng-model="pipeline.canalPercent">
                                </div>
                            </td>
                            <td>
                                {{'#Среднее' | translate}}
                                <div class="ui input">
                                    <input type="text" name="norm" ng-model="pipeline.avg">
                                </div>
                            </td>
                            <td>
                                <button class="ui button" ng-click="addNewCounter($index)">Добавить счетчик</button>
                            </td>
                        </tr>
                    </table>


                    <table class="ui basic celled table" style="margin-top: 0 !important;">
                        <thead>
                        <tr>
                            <th>{{'#counterNumber'|translate}}</th>
                            <th>{{'#Дата установки счетчика'|translate}}</th>
                            <th>{{'#Дата след. поверки/замены счетчика'|translate}}</th>
                            <th>{{'#counterPlumb'|translate}}</th>
                            <th>{{'#Дата установки пломбы'|translate}}</th>
                            <th>{{'#Марка счетчика'|translate}}</th>
                            <th>{{'#Предыдущие показания'|translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="counter in pipeline.counters"
                            ng-class="{
                            'error disabled': !counter.isActive,
                            'positive': counter.isActive
                            }">
                            <td>
                                <div class="ui input">
                                    <input type="text" ng-model="counter.counterNumber"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.installDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.checkDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui input">
                                    <input type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.plumbNumber"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.plumbInstallDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui input">
                                    <select class="ui search dropdown" ng-model="counter.markId"
                                            ng-options="mark.name for mark in $parent.counterMarks track by mark._id"></select>
                                </div>
                            </td>
                            <td>
                                <div class="ui input" ng-show="counter.isCounterNew">
                                    <input type="text" ng-model="counter.lastCounts"/>
                                </div>
                            </td>
                            <td>
                                <button class="ui button" ng-click="disableCounter($parent.$index, $index)">Снять
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="actions">
        <div class="ui button red" ng-click="cancel()">{{'#cancel' | translate}}</div>
        <div class="ui button green" ng-click="save()">{{'#save' | translate}}</div>
    </div>
</div>