<div class="ui fullscreen modal" ng-controller="editTechDataFizController">
    <i class="close icon"></i>

    <div class="header">
        {{'#Технические данные' | translate }}. {{selectedItem.name}}. Категория: {{modalItem.clientType.name}}
    </div>
    <div class="content" style="height: 500px; overflow: auto;">

        <form class="ui form">
            <div class="fields">

                <div class="three wide field">
                    <label>{{'#Выберите Тариф на воду' | translate}}</label>

                    <div class="ui input">
                        <select class="ui search dropdown" ng-model="modalItem.clientType.tariffId"
                                ng-options="tariff as tariff.name for tariff in $parent.tariffs track by tariff._id"></select>
                    </div>
                </div>
                <div class=" one wide field">
                    <label>{{'#Тариф на воду' | translate}}</label>

                    <div class="ui large label">{{modalItem.clientType.tariffId.water}}</div>
                </div>
                <div class=" two wide field">
                    <label>{{'#Тариф на канализацию' | translate}}</label>

                    <div class="ui large label">{{modalItem.clientType.tariffId.canal}}</div>
                </div>
            </div>
        </form>


        <table>

            <tbody>

            <tr ng-repeat="pipeline in modalItem.pipelines">

                <td colspan="6">

                    <table class="ui table" style="margin-bottom: 0 !important;">
                        <tr>
                            <td>
                                <b>Ввод № {{pipeline.number}}</b>
                            </td>
                            <td>
                                <label>{{'% вод.' | translate}}</label>

                                <div class="ui input">
                                    <input type="text" name="waterPercent" ng-model="pipeline.waterPercent">
                                </div>
                            </td>
                            <td>
                                <label>{{'% кан.' | translate}}</label>

                                <div class="ui input">
                                    <input type="text" name="canalPercent" ng-model="pipeline.canalPercent">
                                </div>
                            </td>
                            <td>
                                {{'#Норма' | translate}}
                                <div class="ui input">
                                    <input type="text" name="norm" ng-model="pipeline.norm">
                                </div>

                            </td>
                            <td>
                                {{'#Среднее' | translate}}
                                <div class="ui input">
                                    <input type="text" name="norm" ng-model="pipeline.avg">
                                </div>
                            </td>
                            <td>
                                <button class="ui button" ng-click="addNewCounter($index)">Добавить счетчик</button>
                            </td>
                        </tr>
                    </table>


                    <table class="ui basic celled table" style="margin-top: 0 !important;">
                        <thead>
                        <tr>
                            <th>{{'#counterNumber'|translate}}</th>
                            <th>{{'#Дата установки счетчика'|translate}}</th>
                            <th>{{'#Дата след. поверки/замены счетчика'|translate}}</th>
                            <th>{{'#counterPlumb'|translate}}</th>
                            <th>{{'#Дата установки пломбы'|translate}}</th>
                            <th>{{'#Марка счетчика'|translate}}</th>
                            <th>{{'#Предыдущие показания'|translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="counter in pipeline.counters"
                            ng-class="{
                            'error disabled': !counter.isActive,
                            'positive': counter.isActive
                            }">
                            <td>
                                <div class="ui input">
                                    <input type="text" ng-model="counter.counterNumber"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.installDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.checkDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui input">
                                    <input type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.plumbNumber"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.plumbInstallDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui input">
                                    <select class="ui search dropdown" ng-model="counter.markId"
                                            ng-options="mark._id as mark.name for mark in $parent.counterMarks track by mark._id"></select>
                                </div>
                            </td>
                            <td>
                                <div class="ui input" ng-show="counter.isCounterNew">
                                    <input type="text" ng-model="counter.lastCounts"/>
                                </div>
                            </td>
                            <td>
                                <button class="ui button" ng-click="disableCounter($parent.$index, $index)">Снять
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="actions">
        <div class="ui button red" ng-click="cancel()">{{'#cancel' | translate}}</div>
        <div class="ui green button" ng-click="save()">{{'#save' | translate}}</div>
    </div>

    <!--<div class="actions">
        <div class="two fluid ui buttons">
            <div class="ui negative labeled icon button" ng-click="cancel()">
                <i class="remove icon"></i>
                {{'#cancel' | translate}}
            </div>
            <div class="ui positive right labeled icon button" ng-click="save()">
                <span ng-bind="'#save' | translate"></span>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>-->
</div>