<div class="ui fullscreen modal" ng-controller="editPassportDataFizController">
    <i class="close icon" ng-click="close()"></i>

    <div class="header">
        {{'#Паспортные данные' | translate }}. {{selectedItem.name}}
    </div>
    <div class="content">

        <form class="ui form">
            <div class="fields">
                <div class="two wide field">
                    <label>{{'#Лицевой счет' | translate}}</label>
                    <input type="text" name="accountNumber" placeholder="{{'#Лицевой счет' | translate}}"
                           ng-model="modalItem.accountNumber">
                </div>
                <div class="two wide field">
                    <label>{{'#Наименование компании' | translate}}</label>
                    <input type="text" name="name" placeholder="{{'#Наименование компании' | translate}}"
                           ng-model="modalItem.name">
                </div>
                <div class=" two wide field">
                    <label>{{'#БИН' | translate}}</label>
                    <input type="text" name="bin" placeholder="{{'#БИН' | translate}}"
                           ng-model="modalItem.bin">
                </div>
                <div class="two wide field">
                    <label>{{'#Адрес' | translate}}</label>
                    <span ng-bind="modalItem.address"></span>

                </div>


                <div class="two wide field">
                    <label>{{'#Мкр/Улица' | translate}}</label>
                    <select class="ui search dropdown" ng-model="address.street"
                            ng-options="street.value for street in $parent.rootAddresses track by street._id"
                            ng-change="StreetChange()"></select>
                </div>

                <div class="two wide field">
                    <label>{{'#Дом' | translate}}</label>
                    <select class="ui search dropdown" ng-model="address.house"
                            ng-options="house.value for house in houseList track by house._id"
                            ng-change="HouseChange()"></select>
                </div>

                <div class="two wide field">
                    <label>{{'#Квартира' | translate}}</label>
                    <select class="ui search dropdown" ng-model="address.flat"
                            ng-options="flat.value for flat in flatList track by flat._id"></select>
                </div>


                <div class="two wide field">
                    <label>{{'#Кол-во проживающих' | translate}}</label>
                    <input type="text" name="residentsCount" placeholder="{{'#Кол-во проживающих' | translate}}"
                           ng-model="modalItem.residentsCount">
                </div>
                <div class="two wide field">
                    <label>{{'#Телефон' | translate}}</label>
                    <input type="text" name="phone" placeholder="{{'#Телефон' | translate}}"
                           ng-model="modalItem.phone">
                </div>
                <div class="two wide field">
                    <label>{{'#email' | translate}}</label>
                    <input type="text" name="email" placeholder="{{'#email' | translate}}"
                           ng-model="modalItem.email">
                </div>
                <div class="two wide field">
                    <label>{{'#Площадь' | translate}}</label>
                    <input type="text" name="area" placeholder="{{'#Площадь' | translate}}"
                           ng-model="modalItem.area">
                </div>

                <div class="two wide field">
                    <label>{{'#КСК' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.kskId"
                            ng-options="ksk.name for ksk in $parent.ksks track by ksk._id"></select>
                </div>


                <div class="two wide field">
                    <label>{{'#Контроллер' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.controllerId"
                            ng-options="controller.fullName for controller in $parent.controllers track by controller._id">
                    </select>
                </div>

                <div class="two wide field">
                    <label>{{'#Тип' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.clientType"
                            ng-options="clientType.name for clientType in $parent.clientTypes track by clientType._id">
                    </select>
                </div>

            </div>
        </form>

    </div>

    <div class="actions">
        <div class="ui button red" ng-click="cancel()">{{'#cancel' | translate}}</div>
        <div class="ui button green" ng-click="save()">{{'#save' | translate}}</div>
    </div>
</div>