<div class="ui modal" ng-controller="forfeitFizController">
    <i class="close icon"></i>

    <div class="header">
        {{'#Выписать штраф' | translate }}. {{selectedItem.name}}
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>{{'#Сумма' | translate}}</label>
                <input type="text" name="sum" placeholder="{{'#Сумма' | translate}}" ng-model="forfeitDetails.sum"
                       ng-required="true">
            </div>
            <div class="field">
                <label>{{'#Комментарий' | translate}} </label>
                <textarea ng-model="forfeitDetails.comment"></textarea>
            </div>
            <div class="field">
                <label>{{'#Файл' | translate}} </label>
                <input type="file"/>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui button red" ng-click="cancel()">{{'#cancel' | translate}}</div>
        <div class="ui green button" ng-click="forfeitDetailsAdd()">{{'#Выписать' | translate}}</div>
    </div>
</div>