<div ng-controller="paymentsByPeriodFizController">

    <div class="header">
        <b>{{'#История оплаты клиентов за период' | translate }}: </b>

        <div class="ui small input">
            <input ui-date="dateOptions"
                   ng-model='dateFrom'>
        </div>
        <div class="ui small input">
            <input ui-date="dateOptions"
                   ng-model='dateTo'>
        </div>
        <button class="ui button" ng-click="balancesByPeriod();">OK</button>
    </div>
    <div class="content">
        <table class="ui basic table">
            <thead>
            <tr>
                <th>Клиент</th>
                <th>Сальдо</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in balancesRes">

                <td>{{item.name}}</td>
                <td>{{item.sum | number:2}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>