<div class="ui fullscreen modal" ng-controller="addJurClientController">
    <i class="close icon" ng-click="close()"></i>

    <div class="header">
        {{'#Добавить абонента' | translate }}. {{selectedItem.name}}
    </div>
    <div class="content" id="addJurClientContainer">

        <form class="ui form">
            <div class="fields">
               <div class="two wide field">
                    <label>{{'#Наименование абонента' | translate}}</label>
                    <input type="text" name="name" placeholder="{{'#Наименование компании' | translate}}"
                           ng-model="modalItem.name">
                    <div ng-show="isErrorForField('name', this)" class="ui red pointing prompt label transition">{{getErrorForField('name', this)}}</div>
                </div>
                <div class=" two wide field">
                    <label>{{'#БИН' | translate}}</label>
                    <input type="text" name="bin" placeholder="{{'#БИН' | translate}}"
                           ng-model="modalItem.bin">
                    <div ng-show="isErrorForField('bin', this)" class="ui red pointing prompt label transition">{{getErrorForField('bin', this)}}</div>
                </div>

                <div class="two wide field">
                    <label>{{'#Адрес' | translate}}</label>
                    <address-input class="two wide field" addressid="modalItem.addressId" addresstext="modalItem.address"></address-input>
                </div>

                <div class="two wide field">
                    <label>{{'#Телефон' | translate}}</label>
                    <input type="text" name="phone" placeholder="{{'#Телефон' | translate}}"
                           ng-model="modalItem.phone">
                </div>
                <div class="two wide field">
                    <label>{{'#email' | translate}}</label>
                    <input type="text" name="email" placeholder="{{'#email' | translate}}"
                           ng-model="modalItem.email">
                </div>
                <div class="two wide field">
                    <label>{{'#Площадь' | translate}}</label>
                    <input type="text" name="area" placeholder="{{'#Площадь' | translate}}"
                           ng-model="modalItem.area">
                </div>

                <div class="two wide field">
                    <label>{{'#КСК' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.kskId"
                            ng-options="ksk.name for ksk in $parent.ksks track by ksk._id"></select>
                </div>


                <div class="two wide field">
                    <label>{{'#Контроллер' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.controllerId"
                            ng-options="controller.fullName for controller in $parent.controllers track by controller._id">
                    </select>
                    <div ng-show="isErrorForField('controllerId', this)" class="ui red pointing prompt label transition">{{getErrorForField('controllerId', this)}}</div>
                </div>

                <div class="two wide field">
                    <label>{{'#Тип' | translate}}</label>
                    <select class="ui search dropdown" ng-model="modalItem.clientType"
                            ng-options="clientType.name for clientType in $parent.clientTypes track by clientType._id">
                    </select>
                    <div ng-show="isErrorForField('clientType', this)" class="ui red pointing prompt label transition">{{getErrorForField('clientType', this)}}</div>
                </div>
            </div>
        </form>

        <div class="ui divider"></div>

        <form class="ui form">
            <div class="ui dividing header">
                {{'#Технические данные' | translate }}. {{modalItem.name}}
            </div>
            <div class="fields">

                <div class="three wide field">
                    <label>{{'#Выберите Тариф на воду' | translate}}</label>

                    <div class="ui input">
                        <select class="ui search dropdown" ng-model="modalItem.clientType.tariffId"
                                ng-options="tariff.name for tariff in $parent.tariffs track by tariff._id"></select>
                    </div>
                </div>
                <div class=" two wide field">
                    <label>{{'#Тариф на воду' | translate}}</label>

                    <div class="ui large label">{{modalItem.clientType.tariffId.water}}</div>
                </div>
                <div class=" two wide field">
                    <label>{{'#Тариф на канализацию' | translate}}</label>

                    <div class="ui large label">{{modalItem.clientType.tariffId.canal}}</div>
                </div>

            </div>
        </form>


        <table>

            <tbody>

            <tr ng-repeat="pipeline in modalItem.pipelines">

                <td colspan="6">

                    <table class="ui table" style="margin-bottom: 0 !important;">
                        <tr>
                            <td>
                                <b>Ввод:</b>

                                <div class="ui input">
                                    <input type="text" ng-model="pipeline.description"/>
                                </div>
                            </td>
                            <td>
                                <label>{{'% вод.' | translate}}</label>

                                <div class="ui input">
                                    <input type="text" name="waterPercent" ng-model="pipeline.waterPercent">
                                </div>
                            </td>
                            <td>
                                <label>{{'% кан.' | translate}}</label>

                                <div class="ui input">
                                    <input type="text" name="canalPercent" ng-model="pipeline.canalPercent">
                                </div>
                            </td>
                            <td>
                                {{'#Среднее' | translate}}
                                <div class="ui input">
                                    <input type="text" name="norm" ng-model="pipeline.avg">
                                </div>
                            </td>
                            <td>
                                <label translate="#Начислять по среднему"></label>
                                <checkbox type="toggle" name="checkAvg" ng-model="pipeline.checkAvg" ng-change="byAvg(pipeline)"></checkbox>
                            </td>
                            <td>
                                <label ng-bind="'#Норма' | translate"></label>

                                <div class="ui input">
                                    <input type="text" name="norm" ng-model="pipeline.norm">
                                </div>
                            </td>
                            <td>
                                    <label ng-bind="'#Начислять по норме' | translate"></label>
                                    <checkbox type="toggle" name="checkByNorm" ng-model="pipeline.checkNorm" ng-change="byNorm(pipeline)" ></checkbox>

                            </td>
                            <td>
                                <div class="ui negative remove icon button" ng-click="removePipeline($index)">
                                    <i class="remove icon"></i>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <table class="ui basic celled table" style="margin-top: 0 !important;">
                        <thead>
                        <tr>
                            <th>{{'#counterNumber'|translate}}</th>
                            <th>{{'#Дата установки счетчика'|translate}}</th>
                            <th>{{'#Дата след. поверки/замены счетчика'|translate}}</th>
                            <th>{{'#counterPlumb'|translate}}</th>
                            <th>{{'#Дата установки пломбы'|translate}}</th>
                            <th>{{'#Марка счетчика'|translate}}</th>
                            <th>{{'#Предыдущие показания'|translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="counter in pipeline.counters"
                            ng-class="{
                            'error': !counter.isActive,
                            'positive': counter.isActive
                            }">
                            <td>
                                <div class="ui input">
                                    <input type="text" ng-model="counter.counterNumber"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.installDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.checkDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui input">
                                    <input type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.plumbNumber"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui icon input">
                                    <i class="calendar icon"></i>
                                    <input ui-date="dateOptions" type="text" class="ng-pristine ng-valid ng-touched"
                                           ng-model="counter.plumbInstallDate"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui input">
                                    <select class="ui search dropdown" ng-model="counter.markId"
                                            ng-options="mark.name for mark in $parent.counterMarks track by mark._id"></select>
                                </div>
                            </td>
                            <td>
                                <div class="ui input" ng-show="counter.isCounterNew">
                                    <input type="text" ng-model="counter.lastCounts"/>
                                </div>
                            </td>
                            <td>
                                <div class="ui button" ng-click="disableCounter($parent.$index, $index)" translate="#Снять">
                                </div>
                                <div class="ui negative remove icon button" ng-click="removeCounter($parent.$index, $index)">
                                    <i class="remove icon"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="8">
                                <div class="ui positive plus icon button" ng-click="addNewCounter($index)"  ><i class="plus icon"></i><label translate="#счетчик"></label></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <br>

                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="ui positive plus icon button" ng-click="addPipeline()">
                        <i class="plus icon"></i>
                        <label translate="#Ввод"></label>
                    </div>
                </td>
            </tr>
            </tfoot>

        </table>
        <div class="ui red message" style="margin-top:30px;" ng-show="commonErrors.length>0">
            <ul>
                <li ng-repeat="error in commonErrors">{{error}}</li>
            </ul>
        </div>

        <div class="ui right floated buttons">
            <div class="ui button red" ng-click="cancel()">{{'#cancel' | translate}}</div>
            <div class="ui positive button" ng-click="save()">{{'#save' | translate}}</div>
        </div>
    </div>
</div>