<div class="ui fullscreen modal" ng-controller="clientPaymentHistoryController">
    <i class="close icon"></i>

    <div class="header">
        {{'#История' | translate }}. {{selectedItem.name}}
    </div>
    <div class="content">

        <div ng-repeat="item in modalItem.clientBalanceDetails">

            <div ng-if="item.name=='Оплата'">
                <b>Оплата</b>
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Сумма</th>
                        <th>Номер квитанции</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in item.data">
                        <td>{{data.date | date:'dd.MM.yyyy hh:mm:ss'}}</td>
                        <td>{{data.balanceId.sum}}</td>
                        <td>{{data.receiptNumber}}</td>
                        <td>
                            <div class="ui small basic icon buttons right floated">
                                <button class="ui button" ng-click="printFromHistory(data, selectedItem.name);">
                                    <i class="print icon"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/>


            <div ng-if="item.name=='Штрафы'">
                <b>Штрафы</b>
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Сумма</th>
                        <th>Комментарий</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in item.data">
                        <td>{{data.date | date:'dd.MM.yyyy hh:mm:ss'}}</td>
                        <td>{{data.balanceId.sum}}</td>
                        <td>{{data.comment}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/>

            <div ng-if="item.name=='Начисления'">
                <b>Начисления</b>
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Дата</th>
                        <th>Вода (тг.)</th>
                        <th>Канализация (тг.)</th>
                        <th>Вода (м3)</th>
                        <th>Канализация (м3)</th>
                        <th>Недобор (тг)</th>
                        <th>Недобор (м3)</th>
                        <th>Начислено</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in item.data">
                        <td>
                            <div ng-if="data.calculationType === 1">По среднему ( {{data.daysCountByAvg}} дн.)</div>
                            <div ng-if="data.calculationType === 0">По счетчику</div>
                        </td>
                        <td>{{data.date | date:'dd.MM.yyyy hh:mm:ss'}}</td>
                        <td>{{data.waterSum | number:2}}</td>
                        <td>{{data.canalSum | number:2}}</td>
                        <td>{{data.waterCubicMetersCount | number:2}}</td>
                        <td>{{data.canalCubicMetersCount | number:2}}</td>
                        <td>{{data.shortageSum}}</td>
                        <td>{{data.shortageCubicMeters}}</td>
                        <td>{{data.balanceId.sum | number:2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>