<style>
    .selectedBlock {
        background-color: white !important;
        border: 1px solid rgba(39, 41, 43, .15) !important;
        padding: 5px !important;
    }
</style>

<div ng-controller="juridicalHistoryController" class="ui padded segment">

    <div>
        <table class="ui basic table">
            <tr>
                <td>Период: &nbsp;
                    <select class="ui search dropdown" ng-model="period" ng-change="refresh();">
                        <option ng-repeat="per in periods" value="{{per.period}}" ng-selected="per.period == period">
                            {{'#month' + per.month | translate}}&nbsp;{{per.year}}г.
                        </option>
                    </select>
                    &nbsp;
                    <button title="{{'#Текущий период' | translate}}" class="ui button" ng-click="toCurrentPeriod()">
                        <i class="share icon"></i>
                    </button>
                </td>
                <td>
                    <div class="ui green mini statistic">
                        <div class="label">
                            {{nachisl.name}}
                        </div>
                        <div class="value">
                            {{nachisl.sum*-1 | number:2 }} тг.
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui pink mini statistic">
                        <div class="label">
                            {{forfeit.name}}
                        </div>
                        <div class="value">
                            {{forfeit.sum*-1 | number:2 }} тг.
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui orange mini statistic">
                        <div class="label">
                            {{payment.name}}
                        </div>
                        <div class="value">
                            {{payment.sum | number:2 }} тг.
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui mini statistic"
                         ng-class="{'green':(payment.sum + nachisl.sum + forfeit.sum)<0, 'red':(payment.sum + nachisl.sum + forfeit.sum)>0}">
                        <div class="label">
                            Всего должны
                        </div>
                        <div class="value">
                            {{(payment.sum + nachisl.sum + forfeit.sum)*-1 | number:2}} тг.
                        </div>
                    </div>
                </td>
            </tr>
        </table>


        <div class="ui form">

            <div class="field">
                <form ng-submit="search()">
                    <div class="two fields">
                        <div class="sixteen wide field">
                            <label>{{ '#Поиск' | translate }}</label>

                            <div class="ui action input">
                                <input type="text" ng-model="searchTerm"
                                       placeholder="{{ '#Поиск кнопка'  | translate }}"/>
                                <input type="submit" id="submit" class="ui green button"
                                       value="{{ '#Поиск кнопка' | translate }}"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ui divided items" style="background-color: #fafafa;">
        <div class="item" ng-repeat="item in data" style="background-color: {{item.color}}">
            <div class="content" ng-class="{'selectedBlock': item.isShowCounters}">
                <a class="header">{{item.name}}</a>
                <div>
                    <div class="ui grid">
                        <div class="four wide column">
                            {{item.address}}
                        </div>
                        <div class="two wide column">
                            {{item.bin}}
                        </div>
                        <div class="tree wide column">
                            <div class="ui black basic button" ng-click="showCounters(item)" style="cursor:pointer;">
                                <i class="dashboard icon"></i> {{item.pipelines.length}}
                            </div>
                        </div>
                        <div class="one wide column">
                            <span ng-bind="item.controllerId.fullName"></span>
                        </div>

                        <div ng-repeat="bal in item.balances" class="two wide column">

                            <div class="ui green mini statistic"
                                 ng-class="{green:(bal.name=='Начисление'), pink:(bal.name=='Штраф'), orange: (bal.name=='Оплата')}">
                                <div class="label">
                                    {{bal.name}}
                                </div>
                                <div class="value" style="font-size: small;">
                                    {{bal.sum<0?bal.sum*-1:bal.sum | number:2}} тг.
                                </div>
                            </div>

                        </div>

                        <div class="two wide column">

                            <div class="ui mini statistic"
                                 ng-class="{'green':(item.balances.length>0?item.balances[0].sum + item.balances[1].sum + item.balances[2].sum:0)>0, 'red':(item.balances.length>0?item.balances[0].sum +item.balances[1].sum +item.balances[2].sum:0)<0}">
                                <div class="label">
                                    Сальдо:<br>
                                </div>
                                <div class="value" style="font-size: small;">
                                    {{(item.balances.length>0?item.balances[0].sum +
                                    item.balances[1].sum +
                                    item.balances[2].sum:0) | number: 2}} тг.
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="sixteen wide column" style="padding-top: 23px;">
                        <div class="description" ng-show="item.isShowCounters">
                            <div class="ui grid">
                                <div class="two wide column">
                                    <h4 class="ui header" ng-bind="'#Категория' | translate"></h4>
                                    <span ng-bind="item.clientType.name"></span>
                                </div>
                                <div class="two wide column">
                                    <h4 class="ui header" ng-bind="'#Наименование тарифа' | translate"></h4>
                                    <span ng-bind="item.clientType.tariffId.name"></span>
                                </div>
                                <div class="two wide column">
                                    <h4 class="ui header" ng-bind="'#Тариф на воду' | translate"></h4>
                                    <span ng-bind="item.clientType.tariffId.water"></span>
                                </div>
                                <div class="two wide column">
                                    <h4 class="ui header" ng-bind="'#Тариф на канализацию' | translate"></h4>
                                    <span ng-bind="item.clientType.tariffId.canal"></span>
                                </div>
                            </div>
                            <br>
                            <button class="ui  button" ng-bind="'#История' | translate"
                                    ng-click="getClientBalanceDetails()"></button>

                            <table class="ui basic table">
                                <tbody>
                                <tr ng-repeat="pipeline in item.pipelines">
                                    <td style="width: 20px;">
                                        <b>Ввод:</b> {{pipeline.description}} <br><br>
                                        <input type="checkbox" disabled checked="{{pipeline.isCountsByAvg}}"
                                               ng-model="pipeline.checkAvg"
                                               ng-change="byAverage(pipeline)"/>
                                        <b>По ср.: (+ {{pipeline.avg}} м3)</b>
                                        <br>
                                        <input type="checkbox" disabled checked="{{pipeline.isCountsByNorm}}"
                                               ng-model="pipeline.checkNorm"
                                               ng-change="byNorm(pipeline)"/>
                                        <b>По норме: (+ {{pipeline.norm}} м3)</b>
                                    </td>
                                    <td colspan="8">
                                        <div class="ui grid">
                                            <div class="two wide column">
                                                <h4 class="ui header" ng-bind="'#Процент воды' | translate"></h4>
                                                <span ng-bind="pipeline.waterPercent"></span>
                                            </div>
                                            <div class="two wide column">
                                                <h4 class="ui header" ng-bind="'#Процент канализации'"></h4>
                                                <span ng-bind="pipeline.canalPercent"></span>
                                            </div>
                                            <div class="two wide column">
                                                <h4 class="ui header" ng-bind="'#Норма' | translate"></h4>
                                                <span ng-bind="pipeline.norm"></span>
                                            </div>
                                            <div class="two wide column">
                                                <h4 class="ui header" ng-bind="'#Среднее' | translate"></h4>
                                                <span ng-bind="pipeline.avg"></span>
                                            </div>
                                        </div>
                                        <table class="ui basic table">
                                            <thead>
                                            <tr>
                                                <th>{{'#counterNumber'|translate}}</th>
                                                <th>{{'#counterPlumb'|translate}}</th>
                                                <th>{{'#lastCounts'|translate}} &nbsp; (м3)</th>
                                                <th>{{'#dateOfLast'|translate}}</th>
                                                <th>{{'#currentCounts'|translate}} &nbsp; (м3)</th>
                                                <th>*{{'#dateOfCurrent'|translate}}</th>
                                                <th>{{'#problemDescription'|translate}}</th>
                                            </tr>

                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="counter in pipeline.counters"
                                                style="background-color: {{counter.color}}"
                                                ng-class="{
                                                'error disabled': !counter.isActive,
                                                'positive': counter.isActive
                                                }">
                                                <td>
                                                    <span ng-bind="counter.counterNumber"></span>
                                                </td>
                                                <td>
                                                    <span ng-bind="counter.plumbNumber"></span>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span ng-bind="counter.lastCounts"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span ng-bind="counter.dateOfLastCounts | date: 'dd.MM.yyyy HH.mm'"></span>
                                                </td>

                                                <td>
                                                    <span ng-bind="counter.currentCounts"></span>
                                                </td>
                                                <td>
                                                    <span ng-bind='counter.dateOfCurrentCounts | date:"dd.MM.yyyy HH:mm":"+0600"'></span>
                                                </td>
                                                <td>
                                                    <span ng-bind="counter.problemDescription"></span>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Всего:</td>
                                    <td ng-repeat="bal in item.balances">
                                        {{bal.name}} :
                                        {{(bal.sum<0?bal.sum*-1:bal.sum) | number:2}}
                                    </td>
                                    <td>Сальдо:
                                        {{(item.balances[0].sum +
                                        item.balances[1].sum +
                                        item.balances[2].sum)*-1 | number: 2}}
                                    </td>
                                    <td>Минимум: {{item.clientType.minConsumption}} (м3)</td>
                                    <td></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/ng-template" id="paymentInvoice.html">
        <table>
            <thead>
            <tr>
                <td>Клиент: {{paymentClientName}}</td>
            </tr>
            <tr>
                <td>Сумма: {{payment.sum}}</td>
            </tr>
            <tr>
                <td>Дата: {{payment.date | date: 'dd.MM.yyyy hh:mm:ss'}}</td>
            </tr>
            <tr>
                <td>Номер квитанции: {{payment.receiptNumber}}</td>
            </tr>
            </thead>
        </table>
    </script>

    <div id="paymentInvoice" style="display: none" ng-include="'paymentInvoice.html'"></div>

</div>


