<div ng-controller="paymentsByPeriodController">

    <div class="header">
        <b>{{'#История оплаты клиентов за период' | translate }}: </b>
        <div class="ui small input">
            <input ui-date="dateOptions"
                   ng-model='dateFrom'>
        </div>
        <div class="ui small input">
            <input ui-date="dateOptions"
                   ng-model='dateTo'>
        </div>
        <button class="ui button" ng-click="paymentsByPeriod();">OK</button>
    </div>
    <div class="content">
        <table class="ui basic table">
            <thead>
            <tr>
                <th>Клиент</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Номер квитанции</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in payments">
                <td>{{item.clientId.name}}</td>
                <td>{{item.date | date:'dd.MM.yyyy hh:mm:ss'}}</td>
                <td>{{item.sum}}</td>
                <td>{{item.receiptNumber}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>