<div ng-controller="addressesCtrl">

    <div class="content">
        {{addressTextRepresentation}}
        <form id="form" class="ui form attached fluid segment">
            <div class="ui equal width grid">
                <div class="row">
                    <div class="column">
                        <div ng-repeat="addressTypeItem in addressTypeItems track by $index" style="margin-bottom:10px;">
                            <select class="ui search selection dropdown" ng-model="selectedAddressTypes[$index]" ng-change="getAddressAtIndex($index)"
                                    ng-options="addressTypeName['_id'] as addressTypeName.name for addressTypeName in addressTypeItem">
                            </select>
                            <!--{{selectedAddressTypes[$index]}}-->
                        </div>
                    </div>
                    <div class="column">
                        <div ng-repeat="addressItem in addressItems track by $index" style="margin-bottom:10px;">
                            <select class="ui search selection dropdown" ng-model="selectedAddresses[$index]" ng-change="getAddressTypeAtIndex($index)"
                                    ng-options="address['_id'] as address.name for address in addressItem">
                            </select>
                            <!--{{selectedAddresses[$index]}}-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui grid">
        <div class="right floated right aligned sixteen wide column">
            <div style="margin-top:10px;">
                <button class="ui negative mini button" ng-click="clickCancel()">{{'#cancel' | translate}}</button>
                <button class="ui positive mini button" ng-click="clickOk()">{{'#add' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<style>
    div.ui.search.selection.dropdown{
        width:100%;
        padding: .4em;
    }
    div.ui.search.selection.dropdown>input.search{
        padding: .4em;
    }
</style>