<div id="languages" ng-controller="testCtrl">
    <input ng-model="addressId1">
    <input ng-model="addressText1">
    <address-input addressid="addressId1" addresstext="addressText1"></address-input>
    <br>
    <br>
    <br>
    ------------------------------------------------------------
    <br>
    <br>
    ------------------------------------------------------------
    <br>
    {{clientLoads1}}
    <br>
    ------------------------------------------------------------
    <br>
    <client-load clientloads="clientLoads1"></client-load>

</div>

