<div ng-controller="mainController" class="ui padded segment">



    <div>
        <div class="ui grid">
            <div class="eight wide column">
                <h3>{{ '#Объекты' | translate }}&nbsp;&nbsp;&nbsp;Контроллер - <i>{{controllerName}}</i></h3>

            </div>
            <div class="right floated eight wide column">
                <div class="right floated ui buttons">
                <div class="ui button" ng-click="sync()" >
                    <i class="icon wifi"></i>
                    {{ '#Syncronize' | translate }}
                </div>
                <div class="ui button" ng-click="add()" >
                    <i class="icon line chart"></i>
                    {{ '#stistics' | translate }}
                </div>
                    <div class="ui button" ng-click="exit()" >
                        <i class="icon sign out"></i>
                        {{ '#Exit' | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="ui form">


                <div class="field">
                    <form ng-submit="search()">
                    <label>{{ '#Поиск' | translate }}</label>
                    <div class="ui action input">
                        <input type="text" ng-model="term" placeholder="{{ '#Поиск кнопка'  | translate }}"/>
                        <input type="submit" id="submit" class="ui button" value="{{ '#Поиск кнопка' | translate }}"/>
                    </div>
                    </form>
                </div>






        </div>
    </div>



    <div class="ui divided items">
        <div class="item" ng-repeat="item in foundObjects" style="background-color: {{item.color}}">

            <div class="content">
                <a class="header">{{item.name}}</a>
                <div>
                    <div class="ui grid">
                        <!--<div class="row">-->
                            <div class="four wide column">
                                {{item.address}}
                            </div>
                            <div class="four wide column">
                                {{item.bin}}
                            </div>
                            <div class="three wide column">
                                <div class="ui label" ng-click="showCounters(item)">
                                    <i class="dashboard icon"></i> {{item.counters.length}}
                                </div>
                            </div>

                        <div class="two wide column" style="padding: 0px;">
                            <div class="right floated ui right labeled icon button" ng-click="toEnter(item)" ng-hide="item.state==0">
                                <i class="right arrow icon"></i>
                                {{'#к вводу' | translate}}
                            </div>
                        </div>

                        <div class="two wide column" style="padding: 0px;">
                           <i class="right floated big icon cloud upload" ng-show="item.state==1"></i>
                            <i class="right floated big icon lock" ng-show="item.state==2"></i>
                            <i class="right floated big icon wait" ng-show="item.state==3"></i>
                            <i class="right floated big icon checkmark" ng-show="item.state==0"></i>
                        </div>

                        <!--</div>-->
                    </div>
                </div>

                <div class="description" ng-show="item.isShowCounters">

                    <table class="ui table">
                    <thead>
                    <th>{{'#counterNumber'|translate}}</th>
                    <th>{{'#counterPlumb'|translate}}</th>
                    <th>{{'#lastCounts'|translate}}</th>
                    <th>{{'#dateOfLast'|translate}}</th>
                    <th>{{'#currentCounts'|translate}}</th>
                    <th>{{'#dateOfCurrent'|translate}}</th>
                    <th>{{'#problemDescription'|translate}}</th>
                    </thead>
                        <tbody>
                        <tr ng-repeat="counter in item.counters" style="background-color: {{counter.color}}">
                            <td>
                                {{counter.counterNumber}}
                            </td>
                            <td>
                                {{counter.plumbNumber}}
                            </td>
                            <td>
                                {{counter.lastCounts}}м3
                            </td>
                            <td>
                                {{counter.dateOfLastCounts}}
                            </td>

                            <td>
                                {{counter.currentCounts}}м3

                            </td>

                            <td>
                                {{counter.dateOfCurrentCounts | date:"dd-MM-yyyy HH:mm:ss":"+0600"}}
                            </td>

                            <td>
                                {{counter.problemDescription}}
                            </td>



                        </tr>
                        </tbody>
                    </table>

                </div>

        </div>
        </div>
        </div>





</div>