<div ng-controller="addUserCtrl">
	<div style="box-shadow: -31px 32px 53px rgba(0,0,0,.2);">

		<form id="addUserForm" class="ui form attached fluid segment" ng-submit="add()">
			<input type="submit" style="display:none;"/>
			<div class="ui red message" style="margin-top:30px;" ng-show="commonErrors.length">
				<ul>
					<li ng-repeat="error in commonErrors">{{error | translate}}</li>
				</ul>
			</div>
			<a class="ui ribbon green label"><h3 translate="#User"></h3></a>
			<br />
			<div class="field">
				<label>#Имя пользователя</label>
				<input type="text" ng-model="vm.userName"> 
				<div ng-show="isErrorForField('userName', this)" class="ui red pointing prompt label transition">{{getErrorForField('userName', this) | translate}}</div>
			</div>
			<div class="field">
				<label>#Email</label>
				<input type="text" ng-model="vm.email"> 
				<div ng-show="isErrorForField('email', this)" class="ui red pointing prompt label transition">{{getErrorForField('email', this) | translate}}</div>
			</div>
			<div class="field">
				<label>#Пароль</label>
				<input type="password" ng-model="vm.password"> 
				<div ng-show="isErrorForField('password', this)" class="ui red pointing prompt label transition">{{getErrorForField('password', this) | translate}}</div>
			</div>
			<div class="field">
				<label>#Подтвердить пароль</label>
				<input type="password" ng-model="passwordConfirmation"> 
			</div>
			<h4 class="ui top attached header" translate="#Roles"></h4>
			<div class="ui bottom attached segment">
				<checkbox checked="false" style="margin-right: 50px"  ng-repeat="role in roles" type="toggle " ng-model="role.checked">{{role.displayName | translate}}</checkbox>
			</div>
			<div class="center " style="width:100%; text-align:center; padding-top:15px; ">
				<div class="ui button green" translate="#Добавить" ng-click="add()"></div>
				<div class="ui button red" translate="#Отмена" ng-click="cancel()"></div>
			</div>
		</form>

	</div>
</div>

<script type="text/javascript">
	$('.ui.checkbox').checkbox();
</script>